{

  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "alias": {
          "Components": "./src/components",
          "Documents": "./docs",
          "Pages": "./src/pages",
          "Assets": "./src/assets",
          "Css": "./src/assets/css",
          "Helpers": "./src/helpers",
          "Data":  "./src/data"
        }
      }
    ]
  ],

  "presets":
    [
      "@babel/preset-react"
    ]
}
